<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style></style>
</head>
<body>
    <div class="container">
        <h1>Administración de Tareas</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/add_task" method="post">
            <input type="text" name="titulo" id="titulo" placeholder="Título de la tarea" required>
            <select name="materia" id="materia" required>
                <option value="">Selecciona una materia</option>
                <option value="Español">Español</option>
                <option value="Ética">Ética</option>
                <option value="Educación Física">Educación Física</option>
                <option value="Física">Física</option>
                <option value="Inglés Acad.">Inglés Acad.</option>
                <option value="Matemáticas">Matemáticas</option>
                <option value="Música">Música</option>
                <option value="Estudios Sociales">Estudios Sociales</option>
                <option value="Fundamentos">Fundamentos</option>
                <option value="AySaC">AySaC</option>
                <option value="TICS">TICS</option>
                <option value="Inglés Tec.">Inglés Tec.</option>
            </select>
            <input type="text" name="detalle" id="detalle" placeholder="Detalles de la tarea" required>
            <input type="date" name="vencimiento" id="vencimiento" placeholder="Fecha de vencimiento" required>
            <button type="submit">Agregar Tarea</button>
        </form>

        {% for tarea in tareas %}
            <div class="tarea">
                <h2 class="titulo">{{ tarea.1 }}</h2>
                <h3 class="materia">{{ tarea.2 }}</h3>
                <p class="detalles">{{ tarea.3 }}</p>
                <span class="vencimiento">Vence: {{ tarea.4 }}</span>
                <a href="/edit/{{ tarea.0 }}">Editar</a>
                <a href="/delete/{{ tarea.0 }}">Eliminar</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
