<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas Elegantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tareas de confi</h1>
        {% for tarea in tareas %}
        <div class="tarea">
            <h2 class="titulo">{{ tarea.1 }}</h2>
            <h3 class="materia">{{ tarea.2 }}</h3>
            <p class="detalles">{{ tarea.3 }}</p>
            <span class="vencimiento">Vence: {{ tarea.4 }}</span>
        </div>
        {% endfor %}
        <button id="notificacion-permiso">Activar notificaciones</button>
    </div>
    
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io();
    
        socket.on('nueva_tarea', function(data) {
            alert("Nueva tarea añadida: " + data.titulo + " en la materia: " + data.materia);
        });
        
        document.getElementById('notificacion-permiso').addEventListener('click', function() {
            if ('Notification' in window) {
                Notification.requestPermission().then(function (permission) {
                    if (permission === "granted") {
                        alert("¡Notificaciones activadas!");
                    }
                });
            }
        });
    </script>
</body>
</html>
