<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tareas de confi</h1>
        {% for tarea in tareas %}
        <div class="tarea">
            <h2 class="titulo">{{ tarea.1 }}</h2>
            <h3 class="materia">{{ tarea.2 }}</h3>
            <p class="detalles">{{ tarea.3 }}</p>
            <span class="vencimiento">Vence: {{ tarea.4 }}</span>
        </div>
        {% endfor %}
        <button id="notificacion-permiso">Activar notificaciones</button>
    </div>
    
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io();
      const boton = document.getElementById("notificacion-permiso")
      boton.addEventListener("click", function() {
        Notification.requestPermission().then(function(permission) {
          if (permission === "granted") {
            alert("Permiso para notificaciones concedido.");
          } else {
            alert("Permiso para notificaciones denegado.");
          }
        });
      });

      // Escuchar el evento 'nueva_tarea' para mostrar la notificación
      socket.on('nueva_tarea', function(data) {
        if (Notification.permission === "granted") {
          new Notification("Nueva tarea añadida", {
            body: "Título: " + data.titulo + "\nMateria: " + data.materia
          });
        } else {
          alert("Notificaciones no permitidas.");
        }
      });
    </script>
</body>
</html>
